*{
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'PT Serif';
    src: url('fonts/PTSerif-Bold.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PTSans-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'PT Serif';
}

p,a, button, ul li, ol li {
    font-family: 'PT Sans';
}


a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}

button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

:root {
    --color-dark-gray: #333333;
    --color-atomic-gray: #555555;
    --color-black: #000;
    --color-white: #000;
    --color-dark-blue: #003580;
    --color-deep-blue: #1A252F;

    --circle: 50%;

    --box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    --border-radius-small: 10px;

}

.header {
    width: 100%;
    height: auto;
    position: sticky;
    top: 0;
    background-color: rgba(255, 255, 255, 0.95);
    z-index: 9999;
}

.header-up{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-block: 15px;
    border-bottom: 1px solid #e0e0e0;
}

.header-logo img{
    width: 220px;
    height: 80px;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header-language-toggle{
    display: flex;
    font-size: 20px;
    gap: 5px;
}
.header-language-toggle button{
    width: 60px;
    height: 30px;
    font-size: 13px;
    color: var(--color-atomic-gray);
    border-radius: 30px;
    transition-duration: .2s;
}

.header-language-toggle button:focus{
    background-color: #003580;
    color: white;
    transition-duration: .2s;
}

.header-text-size button{
    width: 45px;
    height: 30px;
    font-size: 13px;
    color: var(--color-atomic-gray);
    border-radius: 30px;
    transition-duration: .2s;
}

.header-text-size button:focus{
    background-color: #003580;
    color: white;
    transition-duration: .2s;
}

.header-social img{
    transition-duration: .2s;
}

.header-social img:hover {
    transform: scale(1.3);
}

.header-input{
    position: relative;
}

.header-input input{
    padding: 6px 12px;
    border-radius: 20px;
    border: 1px solid black;
}

.header-input img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.header-menu-list{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-left: 13%;
}

.header-menu-item{
    font-size: 16px;
    padding: 15px 5px;
}

.header-menu-item a{
    font-weight: 500;
    color: var(--color-dark-gray);
    transition: color .2s ease;
    padding-block: 10px;
}

.header-menu-item a:hover{
    color: #007bff;
}

.header-menu-item > ul li{
    padding-block: 10px;
    padding-inline: 10px;
}

.header-bottom .header-bottom-menu .header-menu-list .header-menu-item {
    position: relative;
    float: left;
}

.header-bottom-menu .header-menu-list .header-menu-item > ul{
    position: absolute;
    left: 0;
    width: 220px;

    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);

    transition: opacity .25s ease, transform .25s ease, visibility .25s;
    
    padding-block: 15px;
    background-color: white;
}

.header-bottom .header-bottom-menu .header-menu-list .header-menu-item ul li{
    width: 100%;
}

.header-bottom-menu .header-menu-list .header-menu-item:hover > ul{
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}


.digital-economy{
    width: 100%;
    height: auto;
    max-width: 1200px;
    border-radius: 30px;
    margin: 0 auto;
    margin-top: 50px;
    transition-duration: .2s;
    padding-block: 20px;
}

.digital-economy:hover {
    transition-duration: .2s;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.digital-economy h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 25px;
    color: var(--color-deep-blue);
}

.digital-economy h3{
    color: var(--color-deep-blue);
    padding: 10px 50px;
    font-size: 24px;
}

.digital-economy p {
    color: var(--color-deep-blue);
    padding-inline: 50px;
    padding-bottom: 7px;
    font-size: 24px;
    letter-spacing: 0.3px;
}

.digital-economy img {
    padding-block: 15px;
}

.digital-economy-overview ol{
    list-style-type: none;
    list-style-position: inside;
    counter-reset: item;
    padding-left: 0;
}

.digital-economy-overview li {
    color: var(--color-deep-blue);
    font-size: 24px;
    padding-inline: 60px;
    counter-increment: item;
}

.digital-economy-overview li::before{
    content: counter(item) ") ";
    font-weight: 500;
}

.section-digital-economy-intro h4{
    font-size: 24px;
    padding: 15px 50px;
    color: #0190F6;
}

.advantages {
    width: 100%;
    height: 615px;
    background-image: url(img/DigitalEconomy/Meeting.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.advantages-title {
    width: 100%;
    height: auto;
    background-color: #0190F6;
}

.advantages-title ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.advantages-title li {
    position: relative;
    color: white;
    padding: 10px 45px;
    font-size: 24px;
}

.advantages-title li::before {
    content: "";
    width: 8px;
    height: 8px;
    background-color: white;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    top: 50%;
    transform: translateY(-50%);
}


.advantages-growth {
    width: 100%;
    height: 615px;
    background-image: url(img/DigitalEconomy/growth.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.advantages-cost {
    width: 100%;
    height: 615px;
    background-image: url(img/DigitalEconomy/CostReduction.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.advantages-company {
    width: 100%;
    height: 615px;
    background-image: url(img/DigitalEconomy/CreateNewplace.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.advantages-emptyPocket {
    width: 100%;
    height: 615px;
    background-image: url(img/DigitalEconomy/EmptyPocket.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: end;
    margin-bottom: 20px;
}

.news{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition-duration: .2s;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 40px;
}

.news:hover{
    transition-duration: .2s;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.news-title{
    margin-bottom: 20px;
    font-size: 24px;
}

.news-first-description, .news-second-description, .news-third-description, .news-fourth-description, .news-fifth-description{
    margin-bottom: 20px;
    font-size: 22px;
}

.city-slogan{
    max-width: 1200px;
    width: 100%;
    height: auto;
    margin: 0 auto;
    transition-duration: .2s;
    margin-bottom: 50px;
    border-radius: 30px;
    padding: 40px;
}

.city-slogan:hover{
    transition-duration: .2s;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.city-slogan div{
    border-left: 4px solid #0193F9;
}

.city-slogan p {
    font-size: 22px;
    margin-left: 15px;
}


.national-leader{
    max-width: 1200px;
    width: 100%;
    height: 90vh;
    margin: 0 auto;
    transition-duration: .2s;
    margin-bottom: 50px;
    position: relative;
    background-image: url(img/PresidentOfTajik.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 30px;
}

.national-leader:hover{
    transition-duration: .2s;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
}

.leader-title{
    width: 100%;
    height: auto;
    background-color: white;
    position: absolute;
    bottom: 0;
    border-radius: 15px;
}

.leader-title p{
    margin: 40px;
    font-size: 22px;
}

.circle-badge {
    width: 70%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
    margin-bottom: 50px;
    padding-block: 30px;
}

.circle-badge div{
    width: 337px;
    height: 337px;
    background-color: #1A252F;
    border-radius: 50%;
}

.footer{ 
    width: 100%;
    height: auto;
    margin-top: 70px;
    border-top: 1px solid rgba(0,0,0,0.1);
}

.footer-body{
    gap: 40px;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-block: 40px;
}

.footer-logo{
    width: 35%;
    height: 25vh;
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footer-logo img{
    width: 120px;
    height: 150px;
}


.footer-title .info-text{
    margin-top: 20px;
    line-height: 1.4;
}

.footer-contacts{
    display: flex;
    margin-top: 5px;
}

.footer-contacts a{
    margin-left: 5px;
}

.footer-email{
    display: flex;
    margin-top: 5px;
}

.footer-email a{
    margin-left: 5px;
}

.footer-menu{
    width: 15%;
    height: 25vh;
}

.footer-menu a{
    display: flex;
    flex-direction: column;
    color: var(--color-atomic-gray);
    line-height: 1.4;
}

.footer-menu a:hover{
    color: var(--color-dark-blue);
}

.footer-menu h3{
    margin-bottom: 15px;
}

.footer-socials{
    width: 20%;
    height: 25vh;
}

.footer-socials h3{
    margin-bottom: 20px;
}

.footer-socials img{
    width: 30px;
    height: 30px;
    transition-duration: .2s;
}

.footer-socials img:hover{
    transition-duration: .2s;
    transform: scale(1.3);
}

.footer-content{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(0,0,0,0.1);
    color: gray;
    padding-block: 20px;
}


